<html>

<head>
	<title> c i n o h p a : papers </title>
	<link rel= "stylesheet" type="text/css" href="cinomain.css" />
</head>


<body>

	<h2>
		papers

	</h2>


	<div id ="links">
		<p>
			<a href=".">home</a><br />
			<a href="./bio.html">bio</a><br />
			<a href="./papers.html">papers</a><br />
			<a href="./toys.html">toys</a><br />
			<a href="./contact.html">contact</a><br />
		</p>
	</div>
	
	<div id="intro">
		<p>
			permuations of symbols
		</p>
	</div>
	
	<div id="body">

    <p>
      <a href="./papers/classical_geometries_final_project_notes_no_name.pdf">a finite projective plane of order 10</a><br />

    </p>
		<p>
			<a href="./papers/The_Jordan_Curve_Theorem_no_name.pdf">Jordan Curve Theorem</a><br />
			Gives a proof and some motivation for the Jordan Curve Theorem. The first and last parts are pretty accessible to anyone and the middle parts are a compressed version of a proof cited in the bibliography. For more detials on the mechanics of the proof look at the original by Maehara 
			<a href="http://www.maths.ed.ac.uk/~aar/jordan/index.htm">here</a>.<br />
		</p>
		<p>
			<a href="./papers/Das_ununterbrochene_Shauspiel.pdf">Das ununterbrochene Shauspiel</a><br />
			A translation of a short story of Michael Ende, the author well known for <i> The Never Ending Story</i> series. In the story an actress stumbles across an acting troop wondering the globe to find their lost word. <br />
	
	</div>
	
</body>

</html>
